<div id="emailConfirmedSuccesfullyModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="emailConfirmedSuccesfullyModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="emailConfirmedSuccesfullyModalLabel">Підтвердження пошти</h5>
            </div>
            <div class="modal-body">
                Пошту підтверджено успішно
            </div>
            <div class="modal-footer">
                <button id="OKButton" type="button" class="btn btn-primary">OK</button>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#emailConfirmedSuccesfullyModal').modal('show');
    });

    $('#OKButton').click(function () {
        window.location.href = '/';
    });
</script>