@{
    ViewData["Title"] = "Створення статті";
}

@model CreateArticleModel
<script src="https://cdn.ckeditor.com/ckeditor5/35.0.0/classic/ckeditor.js"></script>
<link rel="stylesheet" href="~/css/site.css" />
<div class="text-center">
    <h2 style="padding: 20px">Створення статті</h2>
    <form asp-action="Index" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="name">назва</label>
            <input asp-for="Name" autocomplete="off" class="form-input" id="name" name="Name" />
            <span asp-validation-for="Name" class="form-error"></span>
        </div>
        <div class="form-group">
            <label for="appendix">короткий опис</label>
            <textarea asp-for="Appendix" autocomplete="off" id="appendix" name="Appendix" class="form-input" rows="3"></textarea>
            <span asp-validation-for="Appendix" class="form-error"></span>
        </div>
        <div class="form-group">
            <label for="body">Основний текст</label>
            <textarea asp-for="Body" autocomplete="off" id="body" name="Body" class="form-input wysiwyg-editor" rows="7"></textarea>
            <span asp-validation-for="Body" class="form-error"></span>
        </div>
        <div class="form-group">
            <label for="image">картинка (необов'язково)</label><br>
            <input asp-for="Image" autocomplete="off" id="image" name="Image" type="file" class="form-control-file" />
            <span asp-validation-for="Image" class="form-error"></span>
        </div>
        @if (Model != null && Model.State != null)
        {
            <p>@Model.State</p>
        }
        <button type="submit" class="btn btn-primary">Створити</button>
    </form>
</div>

<script>
    ClassicEditor
        .create(document.querySelector('#body'), {
            ckfinder: {
                uploadUrl: '/uploader/upload/'
            },
            theme: 'dark',
            language: 'uk'
        })
        .catch(error => {
            console.error(error);
        });
</script>