@{
    ViewData["Title"] = $"Акорди > {Model.NameAvtor} > {Model.NameSong}";
}

@model SongViewModel

<div class="text-center">
    <h2 style="padding: 20px"><b>@Model.NameSong</b></h2>
    <h3><strong>Автор:</strong> @Model.NameAvtor</h3>
    <div class="chord-text">
        @Html.Raw(Model.Body)
    </div>
</div>