@{
    ViewData["Title"] = "Акорди > Пошук";
}

<div class="text-center">
    <h2 style="font-weight: bold; padding-top: 20px">Пошук акордів</h2>

    <form id="searchForm" method="post">
        <div class="form-group">
            <input type="text" class="form-input" autocomplete="off" id="searchInput" name="query" placeholder="введіть назву пісні або ім'я автора">
        </div>
        <!-- Прихований блок для відображення результатів пошуку -->
        <div id="searchResults" class="mt-4"></div>
    </form>
</div>

@section Scripts {
    <script>
        $('#searchInput').on('input', function () {
            var query = $(this).val().trim();
            $.post('@Url.Action("SearchResults", "Chords")', { query: query }, function (data) {
                $('#searchResults').html(data);
            }).fail(function (xhr, status, error) {
                console.error(xhr.responseText);
            });
        });
    </script>
}
