@model LessonEditViewModel

<form id="myForm" action="/Admin/Lesson/Edit/Confirm" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="SectionID">Вибір секції</label>
        <select asp-for="SectionID" class="form-control">
            <option value="">Оберіть секцію</option>
            @foreach (var item in Model.Sections)
            {
                <option value="@item.Id">@item.Name</option>
            }
            <option value="new">Створити нову секцію</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Name">Ім'я</label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Appendix">Короткий опис</label>
        <input asp-for="Appendix" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Body">Основний текст</label>
        <textarea asp-for="Body" class="form-control" rows="5"></textarea>
    </div>
    <div class="form-group">
        <label asp-for="Video">Відео (URL)</label>
        <input asp-for="Video" class="form-control" />
    </div>
    <p>При надписі "Файл не вибрано" означає те що ви при редагуванні нічого не завантажили, якщо ви так і залишите пусту комірку, то залишиться старе зображення </p>
    <div class="form-group">
        <label asp-for="Image">Картинка</label>
        <input asp-for="Image" type="file" class="form-control-file" />
    </div>
    <button type="submit" onclick="addKeyParameter()" class="btn btn-primary">Створити</button>
</form>

<button onclick="window.history.back()" class="btn btn-primary" style="margin-top:20px">Скасувати</button>

@if (Model.state != null)
{
    <p>@Model.state</p>
}
<script>
    document.getElementById('sectionId').addEventListener('change', function () {
        var selectedValue = this.value;
        if (selectedValue === 'new') {
            window.location.href = '/Admin/SectionCreate?key=ваш_ключ_адміністратора';
        }
    });
    function addKeyParameter() {
        var form = document.getElementById("myForm");
        var action = form.getAttribute("action");
        if (action.indexOf('?') === -1) {
            form.setAttribute("action", action + "?key=ваш_ключ_адміністратора");
        } else {
            form.setAttribute("action", action + "&key=ваш_ключ_адміністратора");
        }
    }
    function back() 
    {
        window.location.href = '/Admin/Lessons?key=ваш_ключ_адміністратора';
    }
</script>
