@{
    ViewData["Title"] = "Адміністративна панель";
}

<h2>Адміністративна панель</h2>

<div>
    <!-- Приклад кнопок для адміністративних дій -->
    <button onclick="location.href='@Url.Action("LessonCreate", "Admin")?key=ваш_ключ_адміністратора'">Уроки</button>
    <button onclick="location.href='@Url.Action("Lessons", "Admin")?key=ваш_ключ_адміністратора'">Дія 2</button>
    <button onclick="location.href='@Url.Action("Parse", "Admin")?key=ваш_ключ_адміністратора'">Дія 3</button>
</div>