@{
    ViewData["Title"] = "Адміністративна панель > Парсинг";
}

<div class="text-center" style="margin-left: 200px; margin-right: 200px">
    <h2 style="padding: 20px">Парсинг</h2>
    <div>
        <form id="myForm" action="Parse" method="post">
            <input type="text" id="urlInput" name="url" placeholder="URL" class="form-input"/><br><br>
            <button class="form-submit" type="submit" onclick="addKeyParameter()">Відправити</button>
        </form>
        <div>
            @if (!string.IsNullOrEmpty(Model))
            {
                <p>@Model</p>
            }
        </div>
    </div>
</div>
<script>
    function addKeyParameter() {
        var form = document.getElementById("myForm");
        var action = form.getAttribute("action");
        if (action.indexOf('?') === -1) {
            form.setAttribute("action", action + "?key=ваш_ключ_адміністратора");
        } else {
            form.setAttribute("action", action + "&key=ваш_ключ_адміністратора");
        }
    }
</script>
