@model SectionEditViewModel

<form id="myForm" action="/Admin/Section/Edit/Confirm" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="Name">Ім'я</label>
        <input asp-for="Name" class="form-control" />
    </div>
    
    <div class="form-group">
        <label asp-for="Description">Опис</label>
        <textarea asp-for="Description" class="form-control" rows="3"></textarea>
    </div>
    
    <div class="form-group">
        <label asp-for="ParentId">Батьківська секція</label>
        <select asp-for="ParentId" class="form-control">
            <option value="null">Оберіть секцію</option>
            @foreach (var buff in Model.sections)
            {
                <option value="@buff.Id">@buff.Name</option>
            }
        </select>
    </div>
    
    <button type="submit" onclick="addKeyParameter()" class="btn btn-primary">Зберегти</button>
</form>



<button onclick="window.history.back()" class="btn btn-primary" style="margin-top:20px">Скасувати</button>
@if (Model.state != null)
{
        <p>@Model.state</p>
}

<script>
    window.onload = function () {
        var state = @Json.Serialize(Model.state);
        if (state !== null) {
            setTimeout(function () {
                window.location.href = '/Admin/Lessons?key=ваш_ключ_адміністратора';
            }, 1500);
        }
    };

    function addKeyParameter() {
        var form = document.getElementById("myForm");
        var action = form.getAttribute("action");
        if (action.indexOf('?') === -1) {
            form.setAttribute("action", action + "?key=ваш_ключ_адміністратора");
        } else {
            form.setAttribute("action", action + "&key=ваш_ключ_адміністратора");
        }
    }
</script>