@model IEnumerable<ArticleCardModel>

<div class="text-center">
    @if (Model != null && Model.Any())
    {
        <p>Результати пошуку:</p>
        <div id="searchResults" class="search-results">
            @foreach (var article in Model)
            {
                <div class="article" onclick="window.location.href = 'articles/@article.UserLogin/@article.Slug'">
                    <a style="text-decoration: none">
                        <div class="user-article-center-wrapper" style="height: 80px">
                            <div class="article-user-info">
                                <a class="article-card-text"><b>@article.UserLogin</b></a>
                                <a class="article-card-text"><b><q><em>@article.Name</em></q></b></a>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    }
    else
    {
        <p>Нічого не знайдено.</p>
    }

    @section Scripts {
        <script>
            $('.article').click(function (e) {
                e.preventDefault();
                // Отримуємо назву пісні та автора з тексту посилання
                var articleInfo = $(this).text();
                // Виводимо інформацію про пісню у спеціальний контейнер на сторінці
                $('#article-info').text(articleInfo);
            });
        </script>
    }
</div>
