html {
    font-size: 14px;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

.body {
    background-color: #0d0d0d;
    color: #fff;
    font-family: "JetBrains Mono";
    font-optical-sizing: auto;
    font-weight: 600;
}

.left, .center, .right {
    display: flex;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #1d1d1d;
    color: #e6e3e3;
    font-size: 17px;
    font-family: "JetBrains Mono";
}

.header-site-name {
    margin-left: 10px;
    font-size: 20px;
    font-family: "Montserrat Alternates";
    font-weight: bold;
}

.header-logo {
    height: 40px;
    width: 40px;
    border-radius: 10px;
    margin-left: 20px;
}

.user-info-logo {
    border: 2px solid lightgray;
    border-radius: 30%;
    height: 60px;
    width: 60px;
    border-radius: 20px;
    margin-right: 20px;
}

.user-info-container {
    background-color: #424242;
    border-radius: 10px;
    padding-left: 20px;
    padding-bottom: 7px;
    padding-top: 7px;
}

.user-logo {
    border: 2px solid lightgray;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    border-radius: 30px;
    margin-right: 20px;
}

.center {
    flex-grow: 1;
    justify-content: center;
}

    .center a {
        margin: 0 20px;
        color: white;
        text-decoration: none;
    }

.center-wrapper {
    background-color: #1f1f1f;
    width: 100%;
    text-align: center;
    align-content: center;
    box-sizing: border-box;
    margin-top: 10px;
    height: 40px;
    font-weight: 800;
    font-size: 17px;
    color: white;
}

.home-site-name {
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: "Montserrat Alternates";
}

.home-logo {
    height: 130px;
    width: 130px;
    border-radius: 20px;
    margin-top: 25px;
}

.main-login-button {
    background-color: rgba(240, 248, 255, 0.8);
    border: 2px;
    border-radius: 10px;
    color: black;
    height: 45px;
    width: 200px;
    margin: 10px;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
}

.main-label-block {
    font-size: 20px;
    margin: 20px;
}

.right a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

.user-info {
    color: white;
    margin-right: 20px;
}

.article-user-info {
    color: white;
}

.container-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.form-container {
    width: 350px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #242323;
}

.form-input {
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    background-color: #3d3d3d;
    color: white;
    text-align: left;
    padding: 15px;
}

.form-submit {
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    background-color: #737070;
    color: white;
    border: none;
    cursor: pointer;
}

.form-toogle-button {
    background-color: #404040;
    border-radius: 10px;
    color: lightgray;
    padding: 3px;
    width: auto;
    border: none;
    cursor: pointer;
    width: 100%;
}

.form-error {
    font-size: 13px;
    font-weight: bold;
    color: darkred;
    padding-bottom: 5px;
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* ���������� ���� */
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.modal-backdrop {
    background-color: rgba(0, 0, 0, 1) !important;
}

.user-panel {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 270px;
    background-color: #1c1c1c;
    padding: 20px;
    z-index: 2;
    animation: slideIn 0.3s forwards;
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 1);
    z-index: -2;
    display: none;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100%);
    }
}

.user-page-center-wrapper {
    background-color: #2e2e2e;
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
    height: 90px;
    font-weight: 400;
    font-size: 22px;
    color: white;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    align-items: center;
}

    .user-page-center-wrapper .user-info {
        display: flex;
        align-items: center;
    }

        .user-page-center-wrapper .user-info a {
            padding-left: 20px;
        }

            .user-page-center-wrapper .user-info a b {
                font-weight: bold;
            }

.user-page-logo {
    border: 2px solid gray;
    border-radius: 20%;
    height: 70px;
    width: 70px;
    border-radius: 10px;
    margin-left: 20px;
}

.article-user-logo {
    border: 2px solid gray;
    border-radius: 20%;
    height: 45px;
    width: 45px;
    border-radius: 50px;
    margin-left: 20px;
}

.user-page-fullname {
    font-size: 15px;
    background-color: #2e2e2e;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    align-content: center;
    margin-top: 5px;
}

.user-page-createdat {
    font-size: 15px;
    background-color: #2e2e2e;
    text-align: center;
    align-content: center;
    margin-top: -10px;
    color: gray;
}

/* ���� ��� ����� ������ */
.form-group {
    margin-bottom: 1rem;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

    .btn-primary:hover {
        color: #fff;
        background-color: #0069d9;
        border-color: #0062cc;
    }

/* ���� ��� ���������� ������ */



.song {
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #2e2e2e;
    height: 70px;
}

    .song h5 {
        color: white;
    }

    .song p {
        color: #666;
    }

.article-card-text {
    font-size: 20px;
    color: white;
    text-decoration: none;
}
/* ��������� ������ �� �������� */
.section {
    cursor: pointer;
    padding-left: 10px;
    padding-top: 20px;
    text-decoration: none;
    color: white;
}

.subsection {
    cursor: pointer;
    padding-left: 10px;
    padding-top: 10px;
    text-decoration: none;
    color: white;
}

.lesson {
    cursor: pointer;
    color: #b5b5b5;
    margin-left: 15px;
    font-size: 32px;
    color: #e3e3e3
}

.subsection-obj {
    margin-left: 25px;
    font-size: 32px;
    color: #e3e3e3;
    text-decoration: none;
}

.lesson-obj {
    cursor: pointer;
    color: #b5b5b5;
}

.main-lesson-obj {
    cursor: pointer;
    color: #e3e3e3
}

    /* ���� ����� ��� ��������� */
    .section:hover, .subsection-obj:hover, .lesson-obj:hover, .main-lesson-obj:hover {
        color: gray; /* ����� ������� ��� ��������� */
    }


.header-tab {
}

    .header-tab:hover {
        color: gray;
    }

.admin-button {
    border-radius: 20px;
    height: 60px;
    width: 200px;
    margin: 10px
}

.user-article-center-wrapper {
    background-color: #2e2e2e;
    width: 100%;
    box-sizing: border-box;
    margin-top: 15px;
    height: 90px;
    font-weight: 400;
    font-size: 20px;
    color: white;
    border-radius: 10px;
    align-items: center;
    align-content: center;
    text-align: center;
}

.description-container {
    margin-top: 20px;
    float: right;
    width: 50%;
    padding: 40px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 20px;
    max-height: 270px;
    background-color: #383838;
}

.article {
    height: 100px;
    background-color: #363636;
    border-radius: 20px;
    margin: 20px;
    color: white;
    cursor: pointer;
}

.image-container {
    margin-top: 20px;
    float: left;
    width: 50%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 20px;
    max-width: 630px;
    background-color: black;
    height: 270px;
    overflow: hidden;
}

    .image-container img {
        width: auto;
        height: 100%;
        display: block;
        margin: 0 auto;
    }

.img-hover {
}

    .img-hover:hover {
        filter: brightness(1.5);
        cursor: pointer;
    }

.section-buttons {
    text-align: right;
    margin-top: -40px;
}

.admin-button-lessons {
    height: 30px;
    width: 115px;
    font-size: 15px;
}

.buttons {
    float: right;
}

::-webkit-scrollbar {
    background-color: #1f1e1e;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #383838;
    border-radius: 40px;
}

.dark-theme {
    background: black;
    background-color: #333; /* ������ ��� */
    color: black; /* ���� ������ */
    border: 1px solid #555; /* ���������� */
}

.video-container {
    background-color: gray;
    width: 300px; /* ������ ����� */
    height: 100px; /* ������ ����� */
    border-radius: 20px; /* ������������� ���� */
    display: flex;
    justify-content: center; /* ����������� �� ���������� */
    align-items: center; /* ����������� �� �������� */
}

.button {
    text-decoration: none; /* ��������� ����������� */
    color: black; /* ���� ������ */
    font-size: 18px; /* ����� ������ */
    font-weight: bold; /* ������ ����� */
    padding: 10px 20px; /* ������� ��������� ������ */
    border: 2px solid black; /* ���������� */
    border-radius: 10px; /* ������������� ���� */
}

    .button:hover {
        background-color: darkgray; /* ���� ������� ��� ��������� ������� */
        color: white; /* ���� ������� ������ ��� ��������� ������� */
    }


.ck.ck-toolbar .ck-button__label {
    color: #fff;
}

.ck.ck-toolbar .ck-icon {
    color: #fff;
}

.ck.ck-toolbar .ck-button:hover {
    background-color: #444;
}

.ck.ck-toolbar .ck-button.ck-on {
    background-color: #444;
}

    .ck.ck-toolbar .ck-button.ck-on:hover {
        background-color: #444;
    }

:root {
    /* ����� ������� */
    --ck-color-text: white;
    --ck-color-base-background: #333;
    --ck-color-base-foreground: #fff;
    /* ������ ����������� */
    --ck-color-toolbar-background: #222;
    --ck-color-toolbar-border: #444;
    --ck-color-toolbar-foreground: #fff;
    /* ������ */
    --ck-color-button-default-background: #222;
    --ck-color-button-default-foreground: #fff;
    --ck-color-button-hover-background: #444;
    --ck-color-button-hover-foreground: #fff;
    --ck-color-button-toolbar-background: #222;
    --ck-color-button-toolbar-foreground: #fff;
    --ck-color-button-toolbar-hover-background: #444;
    --ck-color-button-toolbar-hover-foreground: #fff;
    --ck-color-button-toolbar-active-background: #444;
    --ck-color-button-toolbar-active-foreground: #fff;
    --ck-color-button-toolbar-focus-background: #444;
    --ck-color-button-toolbar-focus-foreground: #fff;
    /* ϳ���������� */
    --ck-color-highlight-background: #444;
    --ck-color-highlight-foreground: #fff;
    /* ������� */
    --ck-color-table-border: #444;
    --ck-color-table-background: #333;
    --ck-color-table-foreground: #fff;
    /* ������ */
    --ck-color-list-background: #333;
    --ck-color-list-foreground: #fff;
    /* ����� */
    --ck-color-font: #fff;
    --ck-color-font-heading: #fff;
    --ck-color-font-placeholder: #aaa;
    --ck-color-font-code: #f8f8f8;
    --ck-color-font-highlighted: #f8f8f8;
    --ck-color-font-underline: #fff;
    --ck-color-font-strikethrough: #fff;
    --ck-color-font-link: #fff;
    --ck-color-font-link-hover: #ccc;
    --ck-color-font-widget: #fff;
    --ck-color-font-widget-hover: #ccc;
    /* ����� */
    --ck-color-focus-border: #444;
    /* ϳ������ */
    --ck-color-tooltip-background: #222;
    --ck-color-tooltip-text: #fff;
}


/* ������� */
.ck-content table {
    color: #fff; /* ���� ������ � �������� */
}

table {
    color: white;
    border-collapse: collapse;
    margin: 0 auto; /* ����������� ����������� �� ������ */
    width: 110%;
}

td, th {
    border: 1px solid white;
    padding: 20px;
}

.table-container {
    margin: 0 auto; /* ����������� ����������� �� ������ */
    width: 50%; /* ��� ����-��� ���� ������, ��� �� ������ */
}

.lessons-list {
    font-size: 40px;
}

.chord-text {
    font-size: 22px;
    color: white;
    text-decoration: none;
}

@media (max-width: 840px) {
    .header {
        font-size: 13px;
        padding: 10px;
    }

    .chord-text {
        font-size: 16px;
    }

    .article-card-text {
        font-size: 16px;
    }

    .lessons-list {
        font-size: 22px;
    }

    .section {
        font-size: 18px;
    }

    .subsection {
        font-size: 18px;
    }

    .lesson {
        font-size: 18px;
    }

    .center-wrapper {
        font-size: 13px;
        height: 28px;
    }

    .header-site-name {
        font-size: 16px;
    }

    .header-logo {
        height: 30px;
        width: 30px;
        border-radius: 5px;
        margin-left: 10px;
    }

    .main {
        font-size: 20px;
    }

    .user-logo {
        height: 30px;
        width: 30px;
    }
}

@media (max-width: 685px) {
    .header {
        font-size: 10px;
        padding: 7px;
    }

    .chord-text {
        font-size: 16px;
    }

    .article-card-text {
        font-size: 16px;
    }

    .lessons-list {
        font-size: 20px;
    }

    .section {
        font-size: 16px;
    }

    .subsection {
        font-size: 16px;
    }

    .lesson {
        font-size: 16px;
    }

    .main-label-block {
        font-size: 20px;
    }

    .main-login-button {
        font-size: 20px;
        height: 40px;
        width: 160px;
    }

    .center-wrapper {
        font-size: 10px;
        height: 25px;
    }

    .home-logo {
        height: 120px;
        width: 120px;
        border-radius: 10px;
    }

    .header-site-name {
        font-size: 13px;
    }

    .header-logo {
        height: 20px;
        width: 20px;
        border-radius: 2px;
        margin-left: 7px;
    }

    .user-logo {
        display: none;
    }
}

@media (max-width: 580px) {
    .header {
        font-size: 10px;
        padding: 7px;
    }

    .chord-text {
        font-size: 14px;
    }

    .article-card-text {
        font-size: 14px;
    }

    .lessons-list {
        font-size: 18px;
    }

    .section {
        font-size: 14px;
    }

    .subsection {
        font-size: 14px;
    }

    .lesson {
        font-size: 14px;
    }

    .main-label-block {
        font-size: 20px;
    }

    .main-login-button {
        font-size: 20px;
        height: 40px;
        width: 160px;
    }

    .center-wrapper {
        font-size: 10px;
        height: 25px;
    }

    .home-logo {
        height: 100px;
        width: 100px;
        border-radius: 10px;
    }

    .header-site-name {
        display: none;
    }

    .header-logo {
        height: 20px;
        width: 20px;
        border-radius: 2px;
        margin-left: 5px;
    }

    .user-logo {
        display: none;
    }
}

@media (max-width: 465px) {
    .header {
        font-size: 10px;
        padding: 7px;
    }

    .chord-text {
        font-size: 12px;
    }

    .article-card-text {
        font-size: 12px;
    }

    .lessons-list {
        font-size: 16px;
    }

    .section {
        font-size: 12px;
    }

    .subsection {
        font-size: 12px;
    }

    .lesson {
        font-size: 12px;
    }

    .main-label-block {
        font-size: 15px;
    }

    .main-login-button {
        font-size: 15px;
        height: 40px;
        width: 160px;
    }

    .center-wrapper {
        font-size: 10px;
        height: 25px;
    }

    .home-logo {
        height: 80px;
        width: 80px;
        border-radius: 10px;
    }

    .header-site-name {
        display: none;
    }

    .header-logo {
        height: 20px;
        width: 20px;
        border-radius: 2px;
        margin-left: 2px;
    }

    .user-logo {
        display: none;
    }

    .user-info-container {
        width: 30px;
    }

    .user-info {
        display: none;
    }

    .center a {
        margin: 0 10px;
    }
}

@media (max-width: 325px) {
    .header {
        font-size: 10px;
        padding: 7px;
    }

    .chord-text {
        font-size: 10px;
    }

    .article-card-text {
        font-size: 10px;
    }

    .lessons-list {
        font-size: 14px;
    }

    .section {
        font-size: 10px;
    }

    .subsection {
        font-size: 10px;
    }

    .lesson {
        font-size: 10px;
    }

    .main-label-block {
        font-size: 12px;
    }

    .main-login-button {
        font-size: 12px;
        height: 37px;
        width: 150px;
    }

    .html {
        font-size: 10px;
    }

    .center-wrapper {
        font-size: 10px;
        height: 25px;
    }

    .home-site-name {
        font-size: 20px;
    }

    .home-logo {
        height: 60px;
        width: 60px;
        border-radius: 10px;
    }

    .header-site-name {
        display: none;
    }

    .header-logo {
        display: none;
    }

    .user-logo {
        display: none;
    }

    .user-info-container {
        width: 30px;
    }

    .user-info {
        display: none;
    }

    .center a {
        margin: 0 10px;
    }
}