@{
    ViewData["Title"] = "Confirm Email";
}

@using System.Security.Claims;

@model EmailConfirmationModel

<div class="text-center">
    <div class="form-container">
        <h2>Підтвердження пошти</h2>
        <form asp-action="Index" method="post">
            <div style="margin-bottom: 10px;">
                <input asp-for="Email" placeholder="email" class="form-input" value=@User?.Claims?.FirstOrDefault(c => c.Type == ClaimTypes.Email)?.Value>
                <span asp-validation-for="Email" class="form-error"></span>
                <br></br>
                <h6>Перевірте правильність адреси ел. пошти.<br>Саме ця пошта буде зареєстрована на сайті</h6>
            </div>
            <br>
            <div style="margin-bottom: 10px;">
                <input type="submit" value="Надіслати" class="form-submit">
            </div>
        </form>
    </div>
</div>
