@{
    ViewData["Title"] = "404";
}

<div class="text-center" style="margin-top: 150px">
    <div class="container-wrapper">
    <div class="form-container">
        <h2>404</h2>

    </div>
    </div>
    <h5>сторінку не знайдено</h5>
</div>
