@{
    ViewData["Title"] = "Реєстрація";
}

@model RegistrationModel

<div class="text-center">
    <div class="container-wrapper">
    <div class="form-container">
        <h2>Реєстрація</h2>
        <form asp-action="Index" method="post">
            <div style="margin-bottom: 10px;">
                <input asp-for="Email" autocomplete="off" placeholder="email" class="form-input">
                <span asp-validation-for="Email" class="form-error"></span>
            </div>
            <div style="margin-bottom: 10px;">
                <input asp-for="Login" autocomplete="off" placeholder="login" class="form-input">
                <span asp-validation-for="Login" class="form-error"></span>
            </div>
            <div style="margin-bottom: 10px;">
                <input asp-for="Password" autocomplete="off" placeholder="password" class="form-input">
                <span asp-validation-for="Password" class="form-error"></span>
                    <input asp-for="ConfirmPassword" style="margin-top: 1px" autocomplete="off" placeholder="confirm password" class="form-input">
                <span asp-validation-for="ConfirmPassword" class="form-error"></span>
            </div>
                <div style="margin-top: 10px;">
                    <button type="button" class="form-toogle-button" id="toggleInputs">показати необов'язкові дані</button>
                    <div id="inputsContainer" style="display: none;">
                        <input asp-for="FirstName" autocomplete="off" placeholder="name" class="form-input">
                        <input asp-for="LastName" style="margin-top: 1px" autocomplete="off" placeholder="surname" class="form-input">
                    </div>
                </div>
                <span asp-validation-for="LastName" class="form-error"></span>
            <div style="margin-bottom: 10px; margin-top: 10px;">
                <input type="submit" value="Зареєструватись" class="form-submit">
            </div>
            <div style="margin-bottom: 10px;">
                <a href="~/login" style="color:cadetblue">Увійти в існуючий акаунт</a>
            </div>
        </form>
        <hr>
        <h4>Зареєструйтесь з:</h4>
        <div>
                <a href="/GoogleOAuth" style="text-decoration: none; color: goldenrod; margin-right: 10px;"><u>Google</u></a>
        </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        document.getElementById('toggleInputs').addEventListener('click', function () {
            var inputsContainer = document.getElementById('inputsContainer');
            var inputsButton = document.getElementById('toggleInputs');
            if (inputsContainer.style.display === 'none') {
                inputsContainer.style.display = 'block';
                inputsButton.textContent = "сховати необов'язкові дані";
            } else {
                inputsContainer.style.display = 'none';
                inputsButton.textContent = "показати необов'язкові дані";
            }
        });
    </script>
}